.ant-layout-header,
.ant-layout-footer {
  background: #fff;
  color: rgba(0, 0, 0, 0.65);
  padding: 0 34px;
}
.ant-layout-footer {
  line-height: 1.5;
}
.ant-layout-header{
  line-height: 3.2;
}
.ant-layout-content {
  background: #fff;
  line-height: 1.5;
}
.lineBorder{
    border-bottom-width: 1px;
    border-bottom-color: #d9d9d9;
    border-bottom-style: solid;
}
.linkStyle{
    color: rgb(191,191,191);
}
.borderStyle3{
    border-top-color: #444;
    border-top-style: solid;
    border-top-width: 3px;
    border-left-color: #ccc;
    border-left-style: solid;
    border-left-width: 1px;
}
.fontStyle{
    color: #ccc;
}
.huaWenKaiTi{
    font-family: 华文楷体;
    font-size: 15px;
    color: #444;
}
#root{
    height: 100%;
}
.swt-layout{
    height: 100%;
}
.swt-footer{
    height: 11%;
}
.swt-header{
    padding-bottom: 10px;
    padding-top: 10px;
    height: 10%;
}
.editable-row .ant-form-explain {
  position: absolute;
  font-size: 12px;
  margin-top: -4px;
}
